<% content_for :title do %>About<% end %>
<h3>About Ishan Benjwal</h3>
<p>He born in Dehradun, capital of Uttrakahanda. His date of birth is 21 JULY 2014.</p>
<p>His favourite toy is toy cycle. We are going to celibrate his first birthday.</p>